<div class="container">
  <p class="current_user_name">名前は<%= current_user.username %></p>
  <p class="current_user_email">メルアド<%= current_user.email %></p>
  <p class="current_user_auth">権限は<%= current_user.auth %></p>

  <% if current_user.auth == 1 then %>
    <!-- 人事の場合ユーザリストを表示 -->
    <h4>ユーザリスト</h4>
    <div class="userlist">
      <% @users.each do |user| %>
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%= "/user_images/#{user.user_image}" %>">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= user.username %>
              <i class="material-icons right">more_vert</i>
            </span>

            <p>
              <a href="#!">詳細を見る</a>
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= user.username %>
              <i class="material-icons right">close</i>
            </span>
            <p><%= user.profile %></p>
          </div>
          <div class="card-action">
            <a href="#">スカウトする</a>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <!-- 来場者の場合出展企業リストを表示 -->
    <h4>出展企業リスト</h4>
    <div class="companylist">
      <% @companies.each do |company| %>
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%= "/company_images/#{company.company_image}" %>">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= company.company_name %>
              <i class="material-icons right">more_vert</i>
            </span>

            <p>所在地：<%= company.place %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= company.company_name %>
              <i class="material-icons right">close</i>
            </span>
            <p><%= company.detail %></p>
          </div>
          <div class="card-action">
            <!-- ここが多分link_toでその企業に属する人事とのチャットルームを開設するリンクになる -->
            <a href="#">話を聞いてみたい</a>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
